.message-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 6px;
    background-color: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
}

.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
}

.my-message {
    background: #189ab4c4;
    
    .color-secondary {
        color: #D4F1F4;
    }

    .color-white {
        color: rgb(255, 255, 255);
    }

    .time {
        color: #D4F1F4;
        float: right;
        font-size: small;
    }
}

.other-message {
    background: #189ab442;
    
    .color-white {
        color: #189ab4c4;
    }

    .color-secondary {
        color: var(--ion-color-secondary);
    }

    .time {
        color: #189ab4;
        float: right;
        font-size: small;
    }
}

ion-content{
    // --ion-background-color: var(--ion-color-step-700) !important
    --ion-background-color: #f2f2f2 !important
}

ion-img {
    width: 40px;
    border-radius: 20px;
}

.top-row {
    margin-bottom: 10px;
}