<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content>

  <div *ngIf="!loadingData">

    <div class="card">
      <div class="header">
        <div class="avatar">
          <img [src]="currentUser.image" alt="">
        </div>
      </div>

      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="username">{{currentUser.name}}</h3>
          <h5 class="email">{{currentUser.email}}</h5>
          <!--h6 class="ranking">Current ranking: <ion-chip>
            <ion-label>2</ion-label>
            </ion-chip>
          </h6-->
        </div>
      </div>

    </div>

  </div>

</ion-content>
