<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content>

  <div *ngIf="!loadingData">

    <div class="card">
      <div class="header">
        <div class="avatar">
          <img [src]="currentUser.image" alt="">
        </div>
      </div>

      <div class="card-body">
        <div class="user-meta ion-text-center">
          <ion-list>
            <ion-list-header>User data</ion-list-header>

            <ion-item>
              <ion-label position="stacked">Show name</ion-label>
              <ion-input [(ngModel)]="currentUser.name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Email</ion-label>
              <ion-input [value]="currentUser.email" readonly></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Department</ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="currentUser.department">
                <ion-select-option value="Production">Production</ion-select-option>
                <ion-select-option value="Quality">Quality</ion-select-option>
                <ion-select-option value="Safety">Safety</ion-select-option>
                <ion-select-option value="Environment">Enviroment</ion-select-option>
                <ion-select-option value="Maintenance">Maintenance</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Role</ion-label>
              <ion-input placeholder="User role in organization" [(ngModel)]="currentUser.role"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Phone number</ion-label>
              <ion-input placeholder="00351123456" [(ngModel)]="currentUser.phone"></ion-input>
            </ion-item>

            <ion-list-header>App data</ion-list-header>

            <ion-item>
              <ion-label position="stacked">Allow users to call me</ion-label>
              <ion-checkbox slot="end" [(ngModel)]="currentUser.allowCalls"></ion-checkbox>
            </ion-item>
          </ion-list>

          <ion-button class="ion-margin" expand="block" (click)="saveUserData()">
            <ion-icon slot="start" name="save-outline"></ion-icon>
            Save settings
          </ion-button>

        </div>
      </div>

    </div>

  </div>

</ion-content>
