
<ion-content>

  <ion-img src="./assets/azordev_logo.png"></ion-img>

  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Create new account...</h1>
      <p>Please fill data select register</p>
    </div>
    
    <!-- Codigo inicial -->
    <form [formGroup]="credentialForm">

      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input
            formControlName="email"
            autofocus="true"
            clearInput="true">
          </ion-input>
        </ion-item>
      </div>
      
      <!-- Mensagem de alerta para introdução incorrecta -->
      <!--div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div-->
  
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">PASSWORD</ion-label>
          <ion-input
            type="password"
            formControlName="password"
            clearInput="true">
          </ion-input>
        </ion-item>
      </div>
      
  
      <!-- Mensagem de alerta para introdução incorrecta -->
      <!--div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div-->
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">CONFIRM PASSWORD</ion-label>
          <ion-input
            type="password"
            formControlName="confirmpassword"
            clearInput="true">
          </ion-input>
        </ion-item>
      </div>

    </form>
  
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button" (click)="signUp()">Register</ion-button>
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/">Back to Sign In</ion-button>
    </div>
  
    <!--ion-button (click)="signUp()" expand="full">Sign up</ion-button>
    <ion-button (click)="signIn()" expand="full" color="secondary">Sign in</ion-button-->

  </div>
  
</ion-content>