<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content>

  <ion-searchbar showCancelButton="focus" placeholder="Search in documents"></ion-searchbar>
  
  <ion-list>
    <ion-list-header>
      List of available repositories
    </ion-list-header>

    <ion-item button="true">
      <ion-row>
        <ion-col size="2" class="ion-align-self-center">
          <ion-icon name="build-outline"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row>
              <h4>Equipment documentation</h4>
          </ion-row>
          <ion-row>
            <ion-note color="primary">Documentation data for equipaments. Manuals, schematics and maintenance procedures.</ion-note>
          </ion-row>
        </ion-col>
      </ion-row>  
    </ion-item>

    <ion-item button="true">
      <ion-row>
        <ion-col size="2" class="ion-align-self-center">
          <ion-icon name="folder-open-outline"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <h4>Workshop procedures</h4>
          </ion-row>
          <ion-row>
            <ion-note color="primary">Internal procedures for working with the equipments, safety advices and cleaning methods of the workshop.</ion-note>
          </ion-row>
        </ion-col>
      </ion-row>  
    </ion-item>

    <ion-item button="true">
      <ion-row>
        <ion-col size="2" class="ion-align-self-center">
          <ion-icon name="school-outline"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <h4>Qualification and Skills</h4>
          </ion-row>
          <ion-row>
            <ion-note color="primary">Documentation to empower the user and improve capabilities. Track the status of each personal development.</ion-note>
          </ion-row>
        </ion-col>
      </ion-row>  
    </ion-item>

    <ion-item button="true">
      <ion-row>
        <ion-col size="2" class="ion-align-self-center">
          <ion-icon name="logo-youtube"></ion-icon>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <h4>Video tutorials</h4>
          </ion-row>
          <ion-row>
            <ion-note color="primary">Video tutorials library to help users to view how to do their tasks in a safety way.</ion-note>
          </ion-row>
        </ion-col>
      </ion-row>  
    </ion-item>

  </ion-list>

</ion-content>

